.ex-1-square
{
        transition: all 2s;
}

.ex-1-square:hover
{
        background: red;
/*        border: 5px solid yellow; */
}

.ex-2-square 
{
        transition: 2s
}

.ex-2-square:active
{
        width: 100%;
}

.ex-3-square 
{
        transition: 2s;
}

.ex-3-square:hover 
{
        border-radius: 100%;
}

.ex-4-square 
{
        transition: 3s;
}

.ex-4-square:hover 
{
        opacity: 0;
}

.ex-5-square
{
        transition: 2s;
} 

.ex-5-square:hover
{
        transform:scale(1.5);
}

.ex-5-square:active
{
        transform:scale(0.2);
}

.ex-6-img
{
        transition: 5s;
}

.ex-6-img:hover
{
        filter:grayscale(100%)

}

.ex-8-img
{
        transition: all 3s;
}

.ex-8-img:hover
{
        filter:grayscale(1) blur(2px);
        border-radius: 10px;

}

.ex-9-img
{
        transition: all 1.5s;
}

.ex-9-img:hover
{
        filter:contrast(50%) blur(2px);
        border-radius: 10px;
        transform: scale(0.3);

}

.ex-10-icon 
{
        animation-name: rotate;
        animation-duration: 3s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
}

@keyframes rotate {

        0%
        {
               transform: rotate(0deg);
        }

        25%
        {
                transform: rotate(90deg);
        }

        50%
        {
                transform: rotate(180deg);
        }

        75%
        {
                transform: rotate(270deg);
        }

        100%
        {
                transform: rotate(360deg);
        }
        
}

.ex-11-icon:hover
{
        animation-name: rotate3_4;
        animation-duration: 0.5s;
        animation-iteration-count: 1;
        animation-timing-function: linear;
} 

@keyframes rotate3_4 
{
        0%
        {
               transform: rotate(0deg);
        }

        25%
        {
                transform: rotate(90deg);
        }

        50%
        {
                transform: rotate(180deg);
        }

        75%
        {
                transform: rotate(270deg);
        }

        100%
        {
                transform: rotate(0deg);               
        }
        
}